@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@1,700&family=Bebas+Neue&display=swap');

body {
    background-color: #e9ecef;
    margin: 0px;
    font-family: 'Archivo Narrow';
}       

.header {
    min-height: 90vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(icons/background.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header img {
    width: 100px;
}

img {
    width: 150px;
    height: 105px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

#icon {
    width: 100px;
    height: 70px;
    margin-left: 0%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
    color: #fff;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.articles {
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    font-family: 'Bebas Neue', sans-serif;
    color: #000;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.article {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 50px 30px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.article:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

@media(max-width: 700px) {
    .text-box h1{
        font-size: 20px;
    }
    .row {
        flex-direction: column;
    }
}